*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1200px;

}
.header-bottom{
    border-bottom: 1px solid #e5e5e5;
}
.header-product-text h1{
    font-size: 24px;
}
a {
text-decoration: none !important;
color: black !important;
   
}
a:hover {
    text-decoration: none !important;
    color: #f07c29   !important;
       
    }
.header-product-a a:hover{
    color: #f07c29 !important;
}
.categories-title h3 ,.Filter h3{
    font-size: 18px;
}
.categories-name a{
    font-size: 16px;
}
input {
    
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
  }
  
  
  
  ::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  ::-ms-track {
    width: 100%;
    
    background: transparent;
   
    background-color: transparent;
  }
  
  ::-webkit-slider-thumb {
    -webkit-appearance: none;
    transform: rotate(-45deg);
    border: 3px solid #f07c29;
    height: 30px;
    width: 30px;
  
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    margin-top: -14px;
    box-shadow: none;
  }
  
  ::-moz-range-thumb {
    box-shadow: none;
    border: 1px solid #9b4dca;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    background: #9b4dca;
    cursor: pointer;
  }
  
  ::-ms-thumb {
    box-shadow: none;
    border: 1px solid #9b4dca;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    background: #9b4dca;
    cursor: pointer;
  }
  
  ::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: none;
    background: #d1d1d1;
    border-radius: 1.3px;
    border: none;
  }
  
  focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  
  ::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: none;
    background: #d1d1d1;
    border-radius: 1.3px;
    border: none;
  }
  
  ::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0px;
    color: transparent;
  }
  
  ::-ms-fill-lower {
    background: #d1d1d1;
    border: none;
    border-radius: 2.6px;
    box-shadow: none;
  }
  
  :focus::-ms-fill-lower {
    background: #d1d1d1;
  }
  
  ::-ms-fill-upper {
    background: #d1d1d1;
    border: none;
    border-radius: 2.6px;
    box-shadow: none;
  }
  .filter-btn button:hover{
      background-color: #f07c29 !important;
  }
  :focus::-ms-fill-upper {
    background: #d1d1d1;
  }
  .filter-btn button{
      width: 100%;
  }
  .column input{
      width: 100%;
  }
  .banner-shop {
   
    max-width: 300px;
    overflow: hidden;
   
  }
  .compare-btn button:hover{
    background: #f07c29 !important;
  }
  .banner-shop img {
   
    transition: transform .5s;

  }
  .banner-shop img:hover{
     
    
    transform: scale(1.2); 
  }
  .fa{
    font-size:16px;
  }
  #rating{
    font-size:0;
    color: black;
    
  }
  .addtocard-detail a{
    color: #f07c29 !important;
  }
  .addtocard-detail a:hover{
    color: black !important;
    transform: .5s;
  }